.webb-sticky-top {
    background-color:slategray;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.webb-background-aliceblue {
    background: aliceblue;
}

.webb-padding-top-70px {
    padding-top: 70px;
}

.webb-pill-color {
    color: azure;
    background-color: black;
    border: solid 1px deepskyblue;
}

.webb-azure {
    color: azure;
}

.webb-pill-active-border {
    border: solid 1px azure;
}