.webb-sticky-top {
    background-color: slategray;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.webb-padding-30px {
    padding: 30px;
}

.webb-padding-top-50px {
    padding-top: 50px;
}

.webb-hr-thick {
    width: 10px;
}

.webb-dashtable-title {
    width: 30%;
}

.webb-dashtable-ownedby {
    width: 20%;
}

.webb-dashtable-lastmodified {
    width: 40%;
}

.webb-dashtable-trash {
    width: 10%;
}